*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.container{
  max-width: 40rem;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 4.3rem 1.7rem rgba(153,153,153,1);
}

#display{
  text-align: right;
  height: 8rem;
  line-height: 7rem;
  padding: 1.6rem 0.8rem;
  font-size: 2.5rem;
  /* background-color: blue; */
  border: 1px solid #999;

}

.buttons{
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div{
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5px solid #999;
  line-height: 10rem;
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
}

#equal{
  background-color: #5555ff;
  color: white; 
}

.button:hover{
  background-color:#323330;
  color: white;
  transition: 0.5s ease-in-out;
}